/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat:wght@300;400;500;600;700;800&family=Major+Mono+Display&family=Ubuntu:wght@400&display=swap&family=Sparten:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800&display=swap");
body {
  background-color: #ffffff !important;
  margin: 0;
  font-family:  'Be Vietnam Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.amplify-pagination{
  margin-top: 40px !important;
}
.articleContent{
  font-family: 'Be Vietnam Pro', sans-serif !important;
  line-height: 2.3rem !important;
 
}

@keyframes slideIn {
  0% {

    opacity: 0;

 
  }
  100% {
  
    opacity: 1;


  }
}
@keyframes slideOut {
  0% {
    
    opacity: 1;
  }
  100% {
    opacity: 0;
    left:61vw;

  
  }
}

.toc {
  position: absolute;
  opacity:1;
  top: 100px;
  left: 61vw;
  max-width: 35%;
  height:auto;
  

  width: 35%;
  background-color: #fff2cc;
  color: #444036;
  border: 2px solid #ffd633;
  border-radius: 20px;
  padding-bottom: 5%;

}

.toc.fixed {
left:61vw;
  animation: slideIn 1s ease-in-out forwards;
}

.toc ul{
  list-style-type: square !important;
  color:#313532 !important;
}
.toc h3{
  color:rgb(237, 172, 51) !important;
}
.toc ul li{
  list-style-type: square !important;
  color:#222f25 !important;
}
.toc ul li a{
  font-size:1rem !important;
  color:#1a0707 !important;
}




/* .articleContent p{
   margin-top:-1rem;
}
.articleContent section{
    margin-top:-1rem;
}*/

strong{
  font-weight:bold !important ;
 
  }
   b{
    font-weight:bold !important ;
   
    }
.articleContent h3{
 

    margin-top:15px !important;
    margin-bottom:-10px !important;
    text-shadow: 1px 1px #c4c1c1;
    font-size: 2rem;
    color:#202525 !important;
    font-weight: 600;
    margin-left: 0.25vw;
} 
.articleContent li h3{
  margin-top:-35px !important;
  
  font-weight:500;
  font-size: 1.8rem;
}
.articleContent li{
  margin-bottom: -20px;
}
.articleContent h4{
  
  color:#233232 !important;
  margin-top:40px !important;
  margin-left: 0.5vw;
  margin-bottom:-10px !important;
  text-shadow: 1px 1px #c4c1c1;
  font-size: 1.8rem;
  
  font-weight: 600;

} 
.articleContent .tip {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff2cc;
  color: #444036;
  border: 1px solid #ffd633;
  margin-bottom: 20px;
  
  font-weight: 500 !important;
}

.tip strong {
display: inline-block;
padding: 5px;
font-size:1.5rem;
margin-right: 20px;
color: #40321a;
font-weight: 500 !important;
border-radius: 5px;
margin-bottom: 10px;
}

.tip p {
  margin: 0;
  font-size: 18px;
  color: #5d5d5d;
 font-weight: 500 !important;
  line-height: 1.4;
}
.tip:hover {
    animation: bounce 2s infinite ease-in-out !important;
  }


.articleContent h2{
 
  font-size: 2.75rem;
  font-weight: 700;
  color:#233232 !important;
  text-shadow: 1px 1px #c4c1c1;
  padding-top: 100px !important;
  margin-top:-80px !important;
  margin-bottom:-10px !important;
  line-height: 1.25;
} 

.articleContent img{
  font-size: 2rem;
  margin-top:25px  !important;
  margin-bottom:15px  !important;
}
.articleContent{
  margin-right: 12vw !important;
  max-width: 70vw !important;
}
.articleContent p{
  margin-left: 0.5vw;
  margin-top:-10px  !important;
  color:#1b2222;
  font-weight: 500 !important;
}
.articleContent li{
    list-style-type: disc;
    font-weight: 400 !important;
    margin-left: 5vw;
   
}
.articleContent strong b{
  font-weight:800 !important;
}
strong b{
font-weight:800 !important  ;
color:red !important;
}

table{
  border-collapse: collapse; 
  width: 100%; 
  background-color: #FFE5B4;
}

th{
border: 1px solid #444; padding: 10px;background-color: #FFE5CE;
text-align: center;
}

td{
border: 1px solid #444; padding: 10px;
}

.articleContent a{
  color:#c98e75 !important
}

ul{
  margin-top: -2.5rem !important;
  margin-bottom: -2.4rem !important;

}
ol{
  margin-top: -2.5rem !important;
  margin-bottom: -2.4rem !important;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal {
  position: absolute;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  left: 0;
  right: 0;
  top: 100px;
  border: .5px solid grey;
}

.modalupdate {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  
  border: .5px solid grey;
}

.container {
margin: 0px;
  margin-top: 50px;
  align-items: left;
  max-width: 100%;
  margin-top: 5%;
}

.amplify-input{
  color: red;
}

.hover{
  color:white !important;
  border-color: white !important;
  
}
.hover:hover{
  color:rgb(0, 0, 0) !important;
  border-color: rgb(67, 71, 74) !important;
}




.articleContent{
  background:rgb(255, 255, 255)!important;
}

@keyframes pulse {
  0% { opacity: 0.3; }
  50% { opacity: 0.6; }
  100% { opacity: 0.3; }
}

@keyframes sparkle {
  0% { background-color: #272D2D; }
  25% { background-color: #FFC300; }
  50% { background-color: #FF5733; }
  75% { background-color: #C70039; }
  100% { background-color: #272D2D; }
}

.amplify-input {
  background-color: #FFFFFF !important;
}

.scroll-reveal:hover {
  animation: bounce 1s infinite ease-in-out !important;
}


@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}
